<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Cliente</th>
			<th scope="col">Producto</th>
			<th scope="col">Cantidad</th>
			<th scope="col">Total</th>
			<th scope="col">Estado</th>
			<th scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>
		@for (order of orders; track order) {
			<tr>
				<th scope="row">{{ order.id }}</th>
				<td>{{ order.customerName }}</td>
				<td>{{ order.product }}</td>
				<td>{{ order.quantity }}</td>
				<td>{{ order.totalPrice | currency }}</td>
				<td>
					<dsb-badge-atom
						[text]="order.status"
						[type]="statusMap[order.status]" >
                    </dsb-badge-atom>
				</td>
				<td>{{ order.date }}</td>
			</tr>
		}
	</tbody>
</table>
